html {
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
  color: #4d4d4d;
  font-family: sans-serif, serif, 'Times New Roman';
}
a:hover{
  border: 2px solid #FFCB05;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00274C;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border-bottom: 3px solid #89C64F;
  margin-bottom: 5px;
}

div.gallery {
  padding-bottom: 10px;
}

.nav_links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main a {
  color: inherit;
  font-weight: bold;
}


#main a:hover {
  color: #89C64F;
  border: 2px solid #89C64F;
}

#header_logo {
  width: 120px;
  display: flex;
  justify-content: flex-start;
  height: fit-content;
}

#main a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.skip a {
  background: white;
  left: 0;
  padding: 6px;
  z-index: 1;
  position: absolute;
  top: -40px;
}


.skip a:focus {
  top: 20px;
  background: white;
  color: #00274C;
  ;
}

:focus {
  border: 2px solid;
}

nav li {
  display: inline;
  padding: 5px;
  font-size: 18px;
  justify-content: right;
}

nav a {
  color: #FFCB05;
  text-decoration: none;
}

.nav_links:focus,
.nav_links:visited {
  color: #FFCB05;
}

.nav_links a:hover {
  color: white;
  border: 2px solid #FFCB05;
}

.active_page a {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

footer {
  color: #00274C;
  background-color: #bbb;
}

footer div {
  text-align: center;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
}



p{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  line-height: 1.3;
}

* {
  box-sizing: border-box
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

.slideshow-container {
  width: auto;
  height: fit-content;
  position: relative;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.slideshow {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  align-content: space-between;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: #00A3D3;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 15px;
  padding: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color:white;
}

.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: black;
}

.numbertext {
  color: black;
  background-color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 2%;
  left: 5%;
  z-index: 1;
  font-weight: bold;
}



.active,
.dot:hover {
  background-color: #717171;
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.name_flex li:first-child {
  color: #4d4d4d;
  background-color: white;
  padding: 5px;
  width: 50%;
  font-size: 15px;
  border: 2px solid #00A3D3;
  margin: 5px;
}

.name_flex li:nth-child(2) {
  color: #4d4d4d;
  background-color: white;
  padding: 5px;
  width: 50%;
  font-size: 13px;
  align-content: center;
  border: 2px solid #89C64F;
  margin: 5px;
}

.name_flex {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.meaning_of_name h2 {
  color: #00274C;
  text-align: center;
  font-weight: 600;
}

.meaning_of_name li {
  border: solid 1px white;
  text-align: center;
}

.meaning_of_name li div {
  font-weight: bold;
  padding-bottom: 3px;
  font-size: 15px;
}

div.tom_university img,
div.Michigan-Comm img,
div.makeathon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

div.tom_university div.Michigan-Comm {
  padding: 0;
}

div.tom_university li:nth-child(1),
.tom_university div {
  font-style: italic;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

h4.comm-info {
  font-size: 13px;
  color: #FFCB05;
  font-weight: bolder;
}

.blurb>p {
  height: auto;
  width: auto;
  color: white;
}

div.fact {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: stretch;
  background-color: #00274C;
  padding: 10px;
}

div.fact div.blurb {
  padding: 0px;
}

.blurb p,
.blurb ul {
  color: white;
  text-align: left;
  font-style: normal;
}

  h2, h3#Michigan-Comm, div.solution_database h3{
  padding:15px;
  text-align: center;
  color: #00274C;
  font-weight: bold;
  font-size:20px;
  }
  h1, .contact h2{
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #F15C31;
}

div.solution_database h3 {
  padding-top: 10px;
}

div.global-team,
div.local-team {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 5px;
  grid-column-gap: 3px;
  justify-items:center;
}

div.global-team img,
div.local-team img {
  border: 2px solid #89C64F;
  margin-left: auto;
  margin-right: auto;
}

div.global{
  margin-left: auto;
  margin-right: auto;
}

.gallery div.bio-text,
.bio {
  color: #00274C;
  font-size: 14px;
  padding: 5px;
  position: relative;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.bio {
  background-color: white;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #00A3D3;
  border-radius: 60px;

}
.bio:hover, div.learn2 div:hover, div.learn1 div:hover{
  transform: scale(1.1);
  font-weight: bold;
}
@media (prefers-reduced-motion: reduce) {


  .bio:hover, div.learn2 div:hover, div.learn1 div:hover{
    transform: scale(1);
 }

}

div.local {
  padding-bottom: 10px;
}

.team a,
.makeathon-teams a {
  text-decoration: none;
}



.design_challenge h3 {
  color: #4d4d4d;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

div.about-allie,
div.about-hannah {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
  padding: 15px;
}

div.Allie,
div.Hannah {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

div.Allie ul,
div.Hannah ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #00274C;
  color: white;
}


div.Allie li,
div.Hannah li {
  padding:14px;
  font-size: 15px;
  line-height: 1.2;
  list-style-type: none;
}

div.Allie h4,
div.Hannah h4 {
  font-size: 17px;
}

div.matthew h3,
div.rebecca h3 {
  line-height: 1.2;
}

div.mask img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 15px;
}

div.mask p {
  font-style: italic;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

div.matthew p,
div.rebecca p {
  padding: 15px;
  padding-top: 2px;
  color: #00274C;
  
}

div.class {
  font-style: italic;
  text-align: center;
  font-weight: 400;
}

div.makeathon-teams h3 {
  padding:10px 15px;
  color: #00274C;
  font-size: 15px;
  font-weight: bold;
}

div.rebecca,
div.matthew {
  border: #FFCB05 2px solid;
  color: #00274C;
  display: block;
  padding: 5px;
  text-align: center;
  margin: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

div.makeathon-teams {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

div.makeathon-teams div.matthew {
  grid-row: 1/2;
  grid-column: 2/1;
}

div.makeathon-teams div.rebecca {
  grid-row: 1/2;
}

div.makeathon-teams div.learn2 {
  grid-row: 2/2;
  grid-column: 2/2;
}



div.learn2 div,
div.learn1 div {
  text-align: center;
  background-color: #FFCB05;
  color: #00274C;
  margin: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding:10px;
}

div.learn2,
div.learn1 {
  text-decoration: none;
}


div.products {
  display: flex;
  padding:5px 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

div.products img {
height:auto;
  border: 3px solid #89C64F;
  margin: 5px;
}

div.database {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

div.details h4 {
  font-weight: bold;
  font-size: 16px;
  color: #00274C;
  padding-left: 15px;
}

.view-bio {
  display: none;
}

.solution_database h2 {
  padding-bottom: 0px;
}

.contact * {
  box-sizing: border-box;
}
.alert{
  margin: 5px;
}
.contact h1 {
  color:#00274C;
}
form{
  color: #00274C;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  color: white;
  background: black;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: transparent;
  color: #F15C31;
  border: #F15C31 2px solid;
  border-radius: 20px;
}
.container {
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.col-25 {
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.alert {
  padding: 20px;
  background-color: #FFCB05;
  color: #00274C;
  border-radius: 50px;
  text-align: center;
  line-height: 1.4;
}
.closebtn {
  margin-left: 15px;
  color: #00274C;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}
.closebtn:hover {
  color: black;
}
label{
  font-size: 20px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #89C64F;
  border-radius: 4px;
}
textarea{
  border: 2px solid #00A3D3;
}
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  p{
    font-size:16px;
  }
  h1{
    font-size: 28px;
  }
  h2, .meaning_of_name h2, h3#Michigan-Comm, div.solution_database h3{
    font-size: 22px;
    color:#00274C
  }
  .col-25, .col-75, input[type=submit] {
    width: 85%;
  }
  .alert{
    margin-left: auto;
    margin-right: auto;
    width:80%;
  }
  nav li {
    padding: 10px;
  }

  div.products:last-child div.details {
    height: fit-content;
  }

  

  div.rebecca,
  div.matthew {
    margin: 10px;
  }

  div.Allie h4,
  div.Hannah h4 {
    color: #00274C;
  }

  div.Allie ul,
  div.Hannah ul {
    border: 5px solid #00A3D3;
  }

 

  .nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
  }

  h4.comm-info {
    font-size: 16px;
  }




  div.meaning_of_name {
    margin: 10px;
  }

  div.meaning_of_name,
  div.meaning_of_name .name_flex li {
    font-size: 14px;
  }

  .gallery div.bio-text {
    font-size: 16px;
  }

  div.bio {
    font-size: 16px;
  }
  div.global-team {
    grid-template-columns: auto auto;
   justify-content: center;
   column-gap: 20px;
  }
  div.local-team {
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }
  div.local div.bio-text {
    font-size: 14px;
  }

  .local-team div.bio {
    font-size: 14px;
  }

  div.local:nth-child(7) {
    grid-row: 3/3;
    grid-column: 1 / 3;

  }

  div.local:nth-child(8) {
    grid-column: -1 / -3;
    grid-row: 3/3;
  }

  .slideshow {
    display: contents;
    z-index: 0;
  }

  .numbertext {
    z-index: 0;
  }

  .design_challenge h3 {
    margin: 0px;
    text-align: left;
    max-width: 0px;
  }


  div.Allie,
  div.Hannah {
    margin-left: 20px;
    margin-right: 20px;
  }

  div.Allie ul,
  div.Hannah ul {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #00274C;
    background-color: transparent;
    font-weight: 600;
    padding: 10px;

  }

  div.Allie li,
  div.Hannah li {
    font-size: 16px;
    padding: 5px;
    font-weight: 400;
  }

  div.Allie img,
  div.Hannah img {
    height: 300px;
    width: 300px;
    align-items: flex-end;
    display: block;
    padding-right: 5px;
  }

  div.about-allie,
  div.about-hannah {
    flex-direction: column;

  }


  div.makeathon-teams img {
    height: 300px;
    width: 250px;
  }

  div.Hannah h3,
  div.Allie h3 {
    color: #00274C;
    background-color: transparent;
    font-size: 20px;
  }



  div.design_challenge h3 {
    margin-left: auto;
    margin-right: auto;

  }

  div.mask p {
    display: none;
  }


  div.makeathon div.rebecca {
    grid-row: 1/2;
    grid-column: 2/2;
  }

  div.rebecca h3,
  div.matthew h3 {


    color: #00274C;
    font-size: 17px;
    text-align: center;

  }

  div.rebecca p,
  div.matthew p {
    text-align: center;
    justify-content: center;
    padding: 0px;
    color: #00274C;

  }

  div.makeathon-teams {
    padding-top: 0px;
  }

  div.makeathon-teams div.rebecca,
  div.makeathon-teams div.matthew {
    padding: 5px;
    background-color: transparent;
  }

  div.mask img {
    width: 100%;
  }



  .solution_database h2,
  div.solution_database p {
    text-align: center;
  }

 

  div.database {
    flex-direction: row;
    align-items: center;
    align-content: space-between;
  }

  div.products{
    margin:0px;
  }

  div.products:last-child {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }

  div.products:last-child img {
    width: 350px;

  }

  div.products:last-child div.details {
    width: 90%;
  }


  div.products {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    align-items: center;
    width: 50%;
    flex-wrap: nowrap;
  }

  .design_challenge h3 {
    max-width: fit-content;
  }

  div.makeathon img {
    padding-bottom: 5px;
  }

  div.products img {
    width: 290px;
    height: 240px;
  }

  div.slideshow-container {
    width: 550px;
  }
  div.details h4{
    text-align: center;
  }


}


@media screen and (min-width: 1000px) {
  h1{
    font-size: 32px;
  }
  h2, .meaning_of_name h2, h3#Michigan-Comm, div.solution_database h3{
    font-size: 25px;
    color:#00274C
  }
  p{
    font-size:18px;
  }
  .alert{
    margin-left: auto;
    margin-right: auto;
    width:70%;
  }
  .col-25, .col-75, input[type=submit] {
    width: 75%;
  }
  body,
  div.solution_database p {
    font-size: 18px;
  }

  /* div.learn1a img,
  div.learn2a img {
    width: 350px;
    height: 300px;
  } */


  div.Allie ul,
  div.Hannah ul {
    border: none;
  }

  header {
    flex-direction: row;
  }

  div.overview .name_flex {
    flex-direction: row;

    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  div.overview .name_flex li:nth-child(2),
  div.overview .name_flex li:first-child {
    font-size: 17px;
  }

  div.meaning_of_name h2 {
    text-align: left;
    font-weight: bold;
  }

  .meaning_of_name li div {
    font-size: 18px;
  }

  div.slideshow-container {
    width: 700px;
  }

  div.blurb p,
  h4.comm-info {
    text-align: center;
    font-size: 18px;
  }

  div.blurb p {
    color: #00274C;
    font-weight: 600;
  }

  h4.comm-info {
    background-color: #00274C;
    padding: 10px;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;


  }

  div.fact {
    background-color: transparent;



  }

  .team div.local-team {
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
  }

  div.local:nth-child(7) {
    grid-row: 2;
    grid-column: 3;
  }

  div.local:nth-child(8) {
    grid-column: 4;
    grid-row: 2;
  }


  div.global a {
    display: none;
  }

  

  div.global-team {
     grid-template-rows: auto auto;
    row-gap: 5px;
    column-gap: 15px;
    margin: 15px;

  }
  div.view-bio {
    display: contents;
    padding: 15px;
    font-size: 17px;
    color: #00274C;
    line-height: 1.4;
    margin: 10px;
  }

  div.about-allie,
  div.about-hannah {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;

  }


  div.group div.Hannah h3,
  div.group div.Allie h3 {

    padding-top: 10px;
    padding-left: 15px;
    margin: auto;
    background-color: transparent;
  }

  div.Allie img,
  div.Hannah img {
    padding: 0px;
    margin: auto;
  }


  div.makeathon img {
    max-width: 80%;
  }



  .impact div.makeathon {
    margin-right: 10px;
  }

  div.rebecca, div.matthew {
  margin:10px;
    padding-left: 15px;
    padding-right: 15px;
  }



  div.group div.Allie,
  div.group div.Hannah {
    border: #00274C 2px solid;
  }

  div.Allie ul,
  div.Hannah ul {
    padding: 0px;
    padding-top: 5px;
    justify-content: center
  }

  .design_challenge h3 {
    text-align: center;
  }

  div.group {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 3px;
    column-gap: 3px;
    margin-left: 5px;
    margin-right: 5px;
  }

  div.about-allie,
  div.about-hannah {
    padding-bottom: 0px;
  }

  div.Allie div.mask img {
    width: 90%;
    height: auto;
    padding-bottom: 5px;
  }

  div.products {
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    width: 33%;
    flex-wrap: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  div.details {
    display: inline;
    width: fit-content;
    margin: 0px;
    text-align: center;
  }

  div.details p {
    font-size: 16px;
  }

  div.products img {
    margin: 0px;
  }

  div.products:last-child {
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    width: 33%;
    flex-wrap: wrap;
    padding-bottom: 0px;
    margin: 0px;
  }

  div.products:last-child img {
    width: 290px;
    height: 240px;
    padding: 0px;
  }

  div.products:last-child div.details {
    width: fit-content;
    height: 180px;
  }

  div.details h4 {
    font-size: 18px;
    padding-top: 2px;
  }

}
